<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQjvv0olO-f9IoYuMTozN_okEdcD41o18</string>
	<key>GCM_SENDER_ID</key>
	<string>381835244896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab11</string>
	<key>PROJECT_ID</key>
	<string>lab11-6e989</string>
	<key>STORAGE_BUCKET</key>
	<string>lab11-6e989.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381835244896:ios:4cf75e9c9d428eefde5a05</string>
</dict>
</plist>